<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureStorageAccount" value="azurestoragetrial"/>
    <add key="AzureStorageKey" value="jok0//DFUzAtGeLFJ6F7nHiqJmlSxEVUfzFmsuJmnYHRklvlY+XgC2+g0DUVXnuQMKIXoySjtfS/3GYV0GYFyw=="/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>