<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="5f229ce1-773c-46ed-a6fa-974006fae097"/>
    <add key="Authority" value="https://login.microsoftonline.com/{0}/"/>
    <add key="ClientId" value="a7ccec63-0a92-4192-b928-cbe118421a1f"/>
    <add key="RedirectUri" value="http://AppendBlobTest1"/>
    <add key="ResourceId" value="https://storage.azure.com/"/>
    <add key="StorageAccountName" value="azurestoragetrial"/>
    <add key="EndPointSuffix" value="core.windows.net"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>